.table-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    background-color: red;
    border-radius: 10px;
    overflow-y: auto;
    padding:1rem;
}

.table{
    padding:0;
    width:100%;
    height:100%;
  
}



.cell{
    padding:0;
    margin:0;
    border:solid;
 
    width:30%;
    background-color: blue;
}

.row{
    justify-content: center;
    display:flex;
   
}